/* .category-item {
    background-image: url('../assets/home/img_all.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.category-item.sale {
    background-image: url('../assets/home/img_today_sale.png');
    background-size: 113%;
} */