.logo {
    background-image: url('../src/assets/home/fake_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 72px;
    height: 20px;
    cursor: pointer;
}